.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-decor: #000028;
  --color: #FF0070;
  --hover-color: #FF007066;
  --title-shadow: #FF0070;
}

.theme_dark .header__rec {
  display: flex;
}
