.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-decor: #353430;
  --color: #353430;
  --hover-color: #32312D66;
  --title-shadow: #FF8DCB;
}

.theme_light .header__rec {
  display: none;
}

@media (width >= 1024px) {
  .page.theme_light {
    --title-shadow:#FF0070;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --background-image: url(../images/cover-image-light.png);
    --title-color: #FFC2E6;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-decor: #353430;
    --color: #353430;
    --hover-color: #32312D66;
  }

  .header__rec {
    display: none;
  }

  @media (width >= 1024px) {
    .page.theme_light {
      --title-shadow:#FF0070;
    }
  }
}